@{
    ViewData["Title"] = "Panel Administratora";
}

@if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "3")
{
    <div class="admin-panel">
        <h2>Wybierz opcję zarządzania</h2>

        <div class="card-container">
            <div class="card">
                <div class="card-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="card-content">
                    <h3>Użytkownicy</h3>
                    <p>Zarządzaj użytkownikami: edytuj, banuj.</p>
                </div>
                <a asp-controller="Home" asp-action="StaticSites" asp-route-name="Admin_Uzytkownicy" class="btn-action-admin">Zarządzaj użytkownikami</a>
            </div>

            <div class="card">
                <div class="card-icon">
                    <i class="fa fa-bed"></i>
                </div>
                <div class="card-content">
                    <h3>Pokoje</h3>
                    <p>Zarządzaj pokojami: dodawaj, edytuj, usuwaj pokoje.</p>
                </div>
                <a asp-controller="Home" asp-action="StaticSites" asp-route-name="Admin_Pokoje" class="btn-action-admin">Zarządzaj pokojami</a>
            </div>

            <div class="card">
                <div class="card-icon">
                    <i class="fa fa-calendar-check"></i>
                </div>
                <div class="card-content">
                    <h3>Rezerwacje</h3>
                    <p>Zarządzaj rezerwacjami: anuluj, edytuj rezerwacje.</p>
                </div>
                <a class="btn-action-admin" href="@Url.Action("ManageReservations", "Home")">Zarządzaj rezerwacjami</a>
            </div>
        </div>
    </div>
}

else
{
    <div class="no-access">
        <h1>Brak dostępu</h1>
        <p>Nie masz uprawnień do wyświetlania tego panelu.</p>
    </div>
}
