@{
    ViewData["Title"] = "Panel Administratora";
}

@if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "3")
{
    <div class="admin-panel">
        <h2>Panel Pokojów</h2>
        <div class="table-container">
            <table class="admin-table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in ViewBag.Rooms)
                    {
                        <tr>
                            <td>@room.Name</td>
                            <td>@room.Room_price zł</td>
                            <td>
                                <a class="btn-action btn-ban" asp-controller="Home" asp-action="Edycja" asp-route-id="@room.Room_id">Usuń</a>
                                <a class="btn-action btn-edit" asp-controller="Home" asp-action="Edycja" asp-route-id="@room.Room_id">Edytuj</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

else if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value != "3")
{
    <div class="no-access">
        <h1>Brak dostępu</h1>
        <p>Nie masz uprawnień do wyświetlania tego panelu.</p>
    </div>
}