@{
    ViewData["Title"] = "Zbanowany";
}

<div class="zbanowany-container">
    <div class="zbanowany-message">
        <h1>ZOSTAŁEŚ ZBANOWANY</h1>
        <p>Przepraszamy, Twoje konto zostało zablokowane. Jeśli uważasz, że to błąd, skontaktuj się z administratorem.</p>
    </div>
</div>