@if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "3")
{
    <h2>Szczegóły użytkownika</h2>

    @if (ViewBag.User != null)
    {
        <form asp-action="EdycjaPost" asp-controller="Home" method="post">
            <input type="hidden" name="User_id" value="@ViewBag.User.User_id" />

            <label>Imię:</label>
            <input type="text" name="Name" value="@ViewBag.User.Name" />
            
            <label>Email:</label>
            <input type="email" name="Email" value="@ViewBag.User.Email" />

            <label>Numer telefonu:</label>
            <input type="number" name="Number" value="@ViewBag.User.Phone" />

            <button type="submit">Zapisz zmiany</button>
        </form>
    }
}

else if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value != "3")
{
    <div class="no-access">
        <h1>Brak dostępu</h1>
        <p>Nie masz uprawnień do wyświetlania tego panelu.</p>
    </div>
}
