@{
    ViewData["Title"] = "Logowanie";
}


<div class="login-container">
    <h2>Zaloguj się</h2>
    <form asp-controller="Home" asp-action="Login" method="post">
        <label for="login" class="LogowanieLabel">Nazwa użytkownika</label>
        <input type="text" id="username" class="login" name="login" placeholder="Wpisz nazwę użytkownika" required />

        <label for="password" class="LogowanieLabel">Hasło</label>
        <input type="password" id="password" class="password" name="password" placeholder="Wpisz hasło" required />

        <button type="submit" class="zaloguj" >Zaloguj</button>
        <p>Nie masz konta? <a asp-controller="Home" asp-action="StaticSites" asp-route-name="Rejestracja">Zarejestruj się</a></p>
    </form>
</div>