.edit-panel {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.edit-panel h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: var(--200);
}

.edycja {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edycja label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.edycja input,
.edycja select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #f9f9f9;
}

.edycja input:focus,
.edycja select:focus {
    border-color: var(--200);
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
}

.edycja button {
    background-color: var(-200);
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin: auto;
}

.edycja button:hover {
    background-color: var(-300);
    color: white;
}

.edit-description {
    border: 1px solid var(--300);
    border-radius: 10px;
    min-height: 5rem;
    min-width: 25rem;
}