:root {
    --100: #F2A172;
    --200: #592B1B;
    --300: #8C4A32;
    --400: #D9805F;
    --500: #F2F2F2; 
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--100);
    font-size: 1.5rem;
    height: 30px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--200);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: var(--400);
    color: white;
}

.footer {
    background-color: var(--200);
    color: white;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

button {
    background-color: var(--100);
    border: 0;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--400);
    color: var(--500);
}

h2 {
    color: var(--200);
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--300);
    border-radius: 10px;
}


.main-page {
    flex: 1;
}

.logoo {
    color: var(--200)
}

.logoo:hover {
    color: var(--500);
}