.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 1200px;
    margin: 40px auto;
}

.search-bar {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.content {
    display: flex;
    gap: 20px;
}

.filters {
    width: 16rem;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 450px;
}

.filters label {
    font-weight: bold;
}

.filters select, .filters input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.price-filter {
    display: flex;
    gap: 10px;
}

.filter-button {
    background: var(--100);
    color: var(--200);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: auto;
}

.filter-button:hover {
    background: var(--400);
}
    
.rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    flex: 1;
}

.room {
    background: #fafafa;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: var(--200);
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.room h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.room-price, .room-location {
    font-size: 1rem;
    margin: 5px 0;
    color: #666;
}

.room:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
    padding: 15px;
    background: var(--100);
    border-radius: 8px;
}

.page-link {
    padding: 8px 16px;
    background: var(--500);
    color: var(--200);
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.page-link:hover {
    background-color: var(--400);
    color: white;
}

.current-page {
    font-weight: 600;
    color: var(--400);
}
