<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <i class="fa-solid fa-house-laptop"></i>
            </div>
            <div class="menu">
                <div><a>Strona główna</a></div>
                <div><a>Moje rezerwacje</a></div>
                <div><a>Zaloguj/Zarejestruj</a></div>
            </div>
        </nav>
        <div class="login-container">
            <input class="login" />
            <input class="password"/>
            <button class="zaloguj">Zaloguj</button>

        </div>
    </header>
    @RenderBody()

    <footer>
        <p>© 2025 Moja Strona. Wszelkie prawa zastrzeżone!!!</p>
    </footer>
</body>
</html>
